snippet err "if err"
  if err != nil {
    ${1:return err}
  }

snippet err: "if err:"
  if err := ${1}; err != nil {
    ${2:return err}
  }

snippet : "shorthand var"
  ${1} := ${2}

snippet ginjson "gin json return"
	ctx.JSON(${1:http.StatusBadRequest}, gin.H{${2:"error"}: ${3:err.Error()}})
