snippet edc "Snippet: export default class"
export default class ${1:ClassName} {
	${2}
}
endsnippet

snippet gi "Snippet: generic interface"
interface ${1:InterfaceName}<${2:T}> {
	${3:key}: $2,
}
endsnippet
